{{#each this}}
<li class="country-item">
  <div class="country-item__img">
    <img src="{{flags.svg}}" alt="{{name.common}}" class="flag">
  </div>
  <h2 class="country-item__title">{{name.common}}</h2>  
</li>
{{/each}}